@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Shrikhand", cursive;
}

/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

.btn {
  width: 13.625em;
  background: linear-gradient(#ff7ad9, #9256dc);
  border: none;
  padding: 1.125em;
  border-radius: 1.875em;
  color: white;
  box-shadow: 0 0.54vh 1.06vh #b3b3b3;
  font-size: 1em;
  cursor: pointer;
}

.header__hearding {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  box-shadow: 0 0.11vh 0.54vh #b3b3b3;
}
.header__hearding img {
  margin: 2.35vh 0 1.28vh 0;
  width: 154px;
}

footer {
  background-color: #353535;
  color: white;
}

.location {
  background-color: #ebebeb;
  height: 3.125em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.location__form {
  width: 9.625em;
  display: flex;
  justify-content: space-between;
}
.location select {
  background: none;
  border: none;
  appearance: none;
  font-weight: bold;
  width: 9.375em;
}
.location select:focus {
  outline: none;
}

.presentation {
  text-align: center;
  height: 287px;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  padding-top: 2.625em;
}
.presentation__head {
  width: 65%;
  margin: 0 auto;
  font-size: 1.375em;
  font-weight: bold;
}
.presentation__text {
  width: 85%;
  margin: 0 auto;
  padding-top: 1em;
  font-size: 1.125em;
}
.presentation a {
  padding-top: 1.75em;
}

.functioning {
  padding-bottom: 42px;
}
.functioning__head {
  font-size: 1.375em;
  font-weight: bold;
  width: 90%;
  margin: 50px auto 32px auto;
}
.functioning__card {
  width: 85%;
  margin-left: 8%;
  height: 4.5em;
  background: whitesmoke;
  border-radius: 1.25em;
  box-shadow: 0px 5px 10px #E5E5E5;
  display: flex;
  align-items: center;
  margin-bottom: 1.625em;
  position: relative;
  text-decoration: none;
  color: black;
}
.functioning__card:hover {
  background-color: #f1eafb;
}
.functioning__card:hover > .functioning__icon {
  color: #9256dc;
}
.functioning__card--active {
  background-color: #f1eafb;
}
.functioning__card--active > .functioning__icon {
  color: #9256dc;
}
.functioning__number {
  position: absolute;
  left: -12px;
  color: white;
  background: #9256dc;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.875em;
}
.functioning__icon {
  display: flex;
  width: 20px;
  color: #7E7E7E;
  margin-left: 34px;
}
.functioning__text {
  font-weight: bold;
  margin-left: 22px;
}

.restaurants-list {
  background: whitesmoke;
}
.restaurants-list__head {
  font-size: 1.375em;
  font-weight: bold;
  width: 90%;
  margin: auto;
  padding: 50px 0 32px 0;
}
.restaurants-list__card {
  display: block;
  width: 90%;
  height: 251px;
  margin: auto;
  background: white;
  border-radius: 1.875em;
  text-decoration: none;
  color: black;
}
.restaurants-list__image--1 {
  background-image: url("../../../public/images/restaurants/la_palette_du_gout.jpg");
  background-size: cover;
  background-position: center;
  height: 175px;
  width: auto;
  border-radius: 0.9375rem 0.9375rem 0 0;
}
.restaurants-list__image--2 {
  background-image: url("../../../public/images/restaurants/la_note_enchantee.jpg");
  background-size: cover;
  background-position: center;
  height: 175px;
  width: auto;
  border-radius: 0.9375rem 0.9375rem 0 0;
}
.restaurants-list__image--3 {
  background-image: url("../../../public/images/restaurants/a_la_francaise.jpg");
  background-size: cover;
  background-position: center;
  height: 175px;
  width: auto;
  border-radius: 0.9375rem 0.9375rem 0 0;
}
.restaurants-list__image--4 {
  background-image: url("../../../public/images/restaurants/Le_delice_des_sens.jpg");
  background-size: cover;
  background-position: center;
  height: 175px;
  width: auto;
  border-radius: 0.9375rem 0.9375rem 0 0;
}
.restaurants-list__content {
  display: flex;
  justify-content: space-between;
  height: 77px;
}

/*# sourceMappingURL=main.css.map */
