.presentation {
  text-align: center;
  height: 287px;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  padding-top: 2.625em;
}
@media only screen and (min-width: 768px) {
  .presentation {
    height: 250px;
  }
}
@media only screen and (min-width: 1024px) {
  .presentation {
    height: 235px;
  }
}
.presentation__head {
  width: 65%;
  margin: 0 auto;
  font-size: 1.375em;
  font-weight: bold;
}
.presentation__text {
  width: 85%;
  margin: 0 auto;
  padding-top: 1em;
  font-size: 1.125em;
}
.presentation a {
  padding-top: 1.75em;
}

.functioning {
  padding-bottom: 42px;
}
.functioning__head {
  font-size: 1.375em;
  font-weight: bold;
  width: 90%;
  margin: 50px auto 32px auto;
}
@media only screen and (min-width: 768px) {
  .functioning__cards {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
  }
}
.functioning__card {
  width: 85%;
  margin-left: 8%;
  height: 4.5em;
  background: whitesmoke;
  border-radius: 1.25em;
  box-shadow: 0px 5px 10px #E5E5E5;
  display: flex;
  align-items: center;
  margin-bottom: 1.625em;
  position: relative;
  text-decoration: none;
  color: black;
}
@media only screen and (min-width: 768px) {
  .functioning__card {
    margin: 0;
    width: 30%;
  }
}
.functioning__card:hover {
  background-color: #f1eafb;
}
.functioning__card:hover > .functioning__icon {
  color: #9256dc;
}
.functioning__card--active {
  background-color: #f1eafb;
}
.functioning__card--active > .functioning__icon {
  color: #9256dc;
}
.functioning__number {
  position: absolute;
  left: -12px;
  color: white;
  background: #9256dc;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.875em;
}
.functioning__icon {
  display: flex;
  width: 20px;
  color: #7E7E7E;
  margin-left: 34px;
}
@media only screen and (min-width: 768px) {
  .functioning__icon {
    margin-left: 1.5625em;
  }
}
.functioning__text {
  font-weight: bold;
  margin-left: 22px;
}
@media only screen and (min-width: 768px) {
  .functioning__text {
    margin-left: 1.125em;
  }
}

.restaurants-list {
  background: whitesmoke;
  padding-bottom: 2.875em;
}
.restaurants-list__head {
  font-size: 1.375em;
  font-weight: bold;
  width: 90%;
  margin: auto;
  padding: 50px 0 32px 0;
}
@media only screen and (min-width: 768px) {
  .restaurants-list__cards {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    margin: auto;
  }
}
@media only screen and (min-width: 1024px) {
  .restaurants-list__cards {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
.restaurants-list__card {
  display: block;
  width: 90%;
  height: 251px;
  margin: 0 auto 1.125em auto;
  background: white;
  border-radius: 1.875em;
  text-decoration: none;
  color: black;
  box-shadow: 0px 5px 10px #E5E5E5;
}
@media only screen and (min-width: 768px) {
  .restaurants-list__card {
    width: 47%;
  }
}
@media only screen and (min-width: 1024px) {
  .restaurants-list__card {
    width: 31%;
    margin: 0 0 3.125em 0;
  }
}
.restaurants-list__image {
  position: relative;
  height: 175px;
  width: auto;
  background-size: cover;
  border-radius: 1.875em 1.875em 0 0;
}
.restaurants-list__image--1 {
  background-image: url("../../../public/images/restaurants/la_palette_du_gout.jpg");
  background-position: 50% 100%;
}
.restaurants-list__image--2 {
  background-image: url("../../../public/images/restaurants/la_note_enchantee.jpg");
  background-position: 50% 61%;
}
.restaurants-list__image--3 {
  background-image: url("../../../public/images/restaurants/a_la_francaise.jpg");
  background-position: 50% 100%;
}
.restaurants-list__image--4 {
  background-image: url("../../../public/images/restaurants/Le_delice_des_sens.jpg");
  background-position: 50% 100%;
}
.restaurants-list__image--new::before {
  content: "Nouveau";
  width: 5em;
  height: 1.8125em;
  background: #98e2cf;
  color: #26876f;
  font-weight: bold;
  border-radius: 0.125em;
  position: absolute;
  right: 0.75em;
  top: 0.8125em;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 1024px) {
  .restaurants-list__image {
    background-position: 50% 60%;
  }
}
.restaurants-list__content {
  width: 92%;
  margin: auto;
  height: 77px;
  display: flex;
  justify-content: space-between;
  font-size: 1.125em;
}
.restaurants-list__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.25em;
}
.restaurants-list__head-card {
  font-weight: bold;
}
.restaurants-list__heart {
  margin: 1.4375em 0.6875em 0 0;
}

/*# sourceMappingURL=home.css.map */
