@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Shrikhand", cursive;
}

/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

/* component */
.btn {
  width: 13.625em;
  background: linear-gradient(#ff7ad9, #9256dc);
  border: none;
  padding: 1.125em;
  border-radius: 1.875em;
  color: white;
  box-shadow: 0 0.3125em 0.625em #b3b3b3;
  font-size: 1em;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  z-index: 1;
}
.btn:hover::after {
  opacity: 1;
}
.btn::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(#ff8ade, #9a62df);
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
  border-radius: 1.875em;
  box-shadow: 0 0.3125em 0.625em #9a9a9a;
}

/* Component */
.restaurants-list__heart i, .menu__heart i {
  position: relative;
  z-index: 1;
}
.restaurants-list__heart i:hover, .menu__heart i:hover {
  color: transparent;
}
.restaurants-list__heart i:hover::after, .menu__heart i:hover::after {
  opacity: 1;
  z-index: 2;
  animation: heart 150ms forwards ease-in-out;
  padding-top: 2px;
  margin-top: -3px;
}
.restaurants-list__heart i::after, .menu__heart i::after {
  content: "";
  font-family: "Font Awesome 5 Pro";
  font-weight: 900;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
  transform: scaleY(0);
  background-image: linear-gradient(#9256dc, #ff7ad9);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

@keyframes heart {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}
.header__heading {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  box-shadow: 0 0.11vh 0.54vh #b3b3b3;
}
.header__heading img {
  margin: 23px 0 1.28vh 0;
  width: 9.625em;
}

footer {
  background-color: #353535;
  color: white;
  height: 12.3125em;
}

.footer {
  width: 85%;
  margin: auto;
}
@media only screen and (min-width: 1024px) {
  .footer {
    width: 90%;
  }
}
.footer__head {
  padding: 1.5em 0 1.375em 0;
}
.footer__text {
  display: block;
  margin-bottom: 0.375em;
  text-decoration: none;
  color: white;
}
.footer__icon {
  width: 22px;
}
.footer__icon--rotate {
  transform: scale(0.8, 1);
  margin-left: -0.25em;
  margin-right: 0.375em;
}

.location {
  background-color: #ebebeb;
  height: 3.125em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.location__form {
  width: 9.625em;
  display: flex;
  justify-content: space-between;
}
.location select {
  background: none;
  border: none;
  appearance: none;
  font-weight: bold;
  width: 9.375em;
}
.location select:focus {
  outline: none;
}

.menu__checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #98e2cf;
  position: absolute;
  right: 0;
  height: 68px;
  width: 80px;
  color: white;
  border-radius: 0 0.9375em 0.9375em 0;
  transform: scaleX(0);
  transform-origin: right;
}
.menu__checkbox i {
  font-size: 1.5em;
  transform: rotate(90deg);
}
.menu__section-card:hover {
  cursor: pointer;
}
.menu__section-card:hover > .menu__checkbox {
  animation: slide-left 300ms both;
}
.menu__section-card:hover i {
  animation: rotate 300ms both linear;
}
.menu__section-card:hover .menu__section-content {
  animation: reduce-width 300ms both;
}
.menu__section-card:hover .menu__section-text {
  overflow: hidden;
  white-space: nowrap;
  margin-right: 0.9375em;
}
.menu__section-card:hover .menu__section-price {
  margin-right: 0.9375em;
}
.menu__section-card:hover .menu__section-dish, .menu__section-card:hover .menu__section-accompaniment {
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__section-card:not(:hover) .menu__section-text {
  overflow: hidden;
  white-space: nowrap;
}
.menu__section-card:not(:hover) > .menu__checkbox {
  animation: slide-right 300ms both;
}
.menu__section-card:not(:hover) .menu__section-content {
  animation: increase-width 300ms both linear;
}
.menu__section-card:not(:hover) i {
  animation: translate 300ms both linear;
}
.menu__section-card:not(:hover) .menu__section-dish, .menu__section-card:not(:hover) .menu__section-accompaniment {
  overflow: hidden;
  text-overflow: ellipsis;
}

@keyframes slide-left {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
@keyframes slide-right {
  0% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0);
  }
}
@keyframes rotate {
  0% {
    transform: translate(50px) rotate(90deg);
  }
  50% {
    transform: translate(35px) rotate(180deg);
  }
  70% {
    transform: translate(25px) rotate(270deg);
  }
  100% {
    transform: translate(0) rotate(360deg);
  }
}
@keyframes translate {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(50px);
  }
}
@keyframes reduce-width {
  0% {
    margin: auto 0 auto 5%;
  }
  100% {
    width: 70%;
    margin: auto 5% auto 5%;
  }
}
@keyframes increase-width {
  0% {
    margin: auto 5% auto 5%;
    width: 70%;
  }
  100% {
    margin: auto 5% auto 5%;
    width: 90%;
  }
}
.loading-spinner {
  background: rgba(97, 97, 97, 0.301);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0);
  animation: loading 3s backwards;
  transform-origin: left;
}
.loading-spinner__loader {
  border: 16px solid whitesmoke;
  border-top: 16px solid #ff7ad9;
  border-left: 16px solid #ff7ad9;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1350ms 0s cubic-bezier(0.37, 0, 0.2, 0.99) infinite;
}
.loading-spinner::after {
  content: "";
  border: 16px solid whitesmoke;
  border-top: 16px solid #98e2cf;
  border-left: 16px solid #98e2cf;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1350ms 150ms cubic-bezier(0.37, 0, 0.2, 0.99) infinite;
  position: absolute;
}
.loading-spinner::before {
  content: "";
  border: 16px solid whitesmoke;
  border-top: 16px solid #9256dc;
  border-left: 16px solid #9256dc;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1350ms 300ms cubic-bezier(0.37, 0, 0.2, 0.99) infinite;
  position: absolute;
}

header, main, footer {
  transform: scale(0);
  animation: end-loading 0s 3s forwards;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loading {
  0% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(1);
  }
}
@keyframes end-loading {
  100% {
    transform: scale(1);
  }
}
.presentation {
  text-align: center;
  height: 287px;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  padding-top: 2.625em;
}
@media only screen and (min-width: 768px) {
  .presentation {
    height: 250px;
  }
}
@media only screen and (min-width: 1024px) {
  .presentation {
    height: 235px;
  }
}
.presentation__head {
  width: 65%;
  margin: 0 auto;
  font-size: 1.375em;
  font-weight: bold;
}
.presentation__text {
  width: 85%;
  margin: 0 auto;
  padding-top: 1em;
  font-size: 1.125em;
}
.presentation a {
  padding-top: 1.75em;
}

.functioning {
  padding-bottom: 42px;
}
.functioning__head {
  font-size: 1.375em;
  font-weight: bold;
  width: 90%;
  margin: 50px auto 32px auto;
}
@media only screen and (min-width: 768px) {
  .functioning__cards {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
  }
}
.functioning__card {
  width: 85%;
  margin-left: 8%;
  height: 4.5em;
  background: whitesmoke;
  border-radius: 1.25em;
  box-shadow: 0px 5px 10px #E5E5E5;
  display: flex;
  align-items: center;
  margin-bottom: 1.625em;
  position: relative;
  text-decoration: none;
  color: black;
  transition: background 300ms;
}
@media only screen and (min-width: 768px) {
  .functioning__card {
    margin: 0;
    width: 30%;
  }
}
.functioning__card:hover {
  background: #f1eafb;
}
.functioning__card:hover > .functioning__icon {
  color: #9256dc;
}
.functioning__card--active {
  background-color: #f1eafb;
}
.functioning__card--active > .functioning__icon {
  color: #9256dc;
}
.functioning__number {
  position: absolute;
  left: -12px;
  color: white;
  background: #9256dc;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.875em;
}
.functioning__icon {
  display: flex;
  width: 20px;
  color: #7E7E7E;
  margin-left: 34px;
}
@media only screen and (min-width: 768px) {
  .functioning__icon {
    margin-left: 1.5625em;
  }
}
.functioning__text {
  font-weight: bold;
  margin-left: 22px;
}
@media only screen and (min-width: 768px) {
  .functioning__text {
    margin-left: 1.125em;
  }
}

.restaurants-list {
  background: whitesmoke;
  padding-bottom: 2.875em;
}
.restaurants-list__head {
  font-size: 1.375em;
  font-weight: bold;
  width: 90%;
  margin: auto;
  padding: 50px 0 32px 0;
}
@media only screen and (min-width: 768px) {
  .restaurants-list__cards {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    margin: auto;
  }
}
@media only screen and (min-width: 1024px) {
  .restaurants-list__cards {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
.restaurants-list__card {
  display: block;
  width: 90%;
  height: 251px;
  margin: 0 auto 1.125em auto;
  background: white;
  border-radius: 1.875em;
  text-decoration: none;
  color: black;
  box-shadow: 0px 5px 10px #E5E5E5;
  transition: transform 300ms;
  position: relative;
}
@media only screen and (min-width: 768px) {
  .restaurants-list__card {
    width: 47%;
  }
}
@media only screen and (min-width: 1024px) {
  .restaurants-list__card {
    width: 31%;
    margin: 0 0 3.125em 0;
  }
}
.restaurants-list__card::before {
  content: "";
  height: 100%;
  width: 100%;
  opacity: 0;
  position: absolute;
  border-radius: 1.875em;
  box-shadow: 0px 10px 10px #d8d8d8;
  transition: opacity 300ms;
}
.restaurants-list__card:hover::before {
  opacity: 1;
}
.restaurants-list__image {
  position: relative;
  height: 175px;
  width: auto;
  background-size: cover;
  border-radius: 1.875em 1.875em 0 0;
}
.restaurants-list__image--1 {
  background-image: url("../../../public/images/restaurants/la_palette_du_gout.jpg");
  background-position: 50% 100%;
}
.restaurants-list__image--2 {
  background-image: url("../../../public/images/restaurants/la_note_enchantee.jpg");
  background-position: 50% 61%;
}
.restaurants-list__image--3 {
  background-image: url("../../../public/images/restaurants/a_la_francaise.jpg");
  background-position: 50% 100%;
}
.restaurants-list__image--4 {
  background-image: url("../../../public/images/restaurants/le_delice_des_sens.jpg");
  background-position: 50% 100%;
}
.restaurants-list__image--new::before {
  content: "Nouveau";
  width: 5em;
  height: 1.8125em;
  background: #98e2cf;
  color: #26876f;
  font-weight: bold;
  border-radius: 0.125em;
  position: absolute;
  right: 0.75em;
  top: 0.8125em;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 1024px) {
  .restaurants-list__image {
    background-position: 50% 60%;
  }
}
.restaurants-list__content {
  width: 92%;
  margin: auto;
  height: 77px;
  display: flex;
  justify-content: space-between;
  font-size: 1.125em;
}
.restaurants-list__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.25em;
}
.restaurants-list__head-card {
  font-weight: bold;
}
.restaurants-list__heart {
  margin: 1.4375em 0.6875em 0 0;
}

/*# sourceMappingURL=home.css.map */
