.btn {
    background: linear-gradient($color-secondary, $color-primary);
    border: none;
    padding: 18px 22px;
    border-radius: 30px;
    color: white;
    box-shadow: 0 0.54vh 1.06vh #b3b3b3;
}