$checked-box: (width: 23%, height: 68px);

.menu{
    &__section {
        &-content {
            transition: width 300ms;
        }
        & .menu__section-dish, .menu__section-accompaniment {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            transition: text-overflow 300ms;
        }
        & .menu__section-text {
            overflow: hidden;
            white-space: nowrap;
            transition: all 300ms;
        } 
        &-price {
            margin-right: 0;
            transition: margin-right 300ms;
        }
    }
    &__checkbox {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $color-tertiary;
        position: absolute;
        right: -23%;
        height: map-get($checked-box, height);
        width: map-get($checked-box, width);
        color: hsl(0, 0%, 100%);
        border-radius: 0 px-to-em(15) px-to-em(15) 0;
        transform: translateX(0);
        transition: transform 300ms;
        & i {
            font-size: 1.5em;
            transform: rotate(0);
            transition: transform 300ms;
        }

        @include media-query(medium) {
            width: 17%;
            right: -17%;
        }
    }
    &__section-card {
        &:hover {
            cursor: pointer;
            & > .menu__checkbox {
                transform: translateX(-100%);
            }
            & i {
                animation: rotate 300ms 50ms both;
            }
            & .menu__section-content {
                width: 70%;

                @include media-query(medium) {
                    width: 78%;
                }
            }
            & .menu__section-text {
                overflow: hidden;
                white-space: nowrap;
                margin-right: px-to-em(15);
            }
            & .menu__section-price {
                margin-right: px-to-em(15);
            }
            & .menu__section-dish, .menu__section-accompaniment {
                overflow: hidden;
                text-overflow: ellipsis;
            }            
        }
    }
}

@keyframes rotate {
    0% { 
        transform: translate(40px) rotate(90deg);
    }
    100% {
        transform: translate(0) rotate(720deg);
    }
}
