$duration: 1500ms;
$timing: cubic-bezier(.37,0,.2,.99);

.loading-spinner {
    background: hsla(0, 0%, 38%, 0.301);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
    animation: loading 3s backwards;
    transform-origin: left;
    &__loader {
        @include circle($color-secondary, 120px, $duration, 0s, $timing);
    }
    &::after {
        content: "";
        @include circle($color-tertiary, 80px, $duration, 150ms, $timing);
        position: absolute;

    }
    &::before {
        content: "";
        @include circle($color-primary, 40px, $duration, 300ms, $timing);
        position: absolute;

    }
}

header, main, footer {
    transform: scale(0);
    animation: end-loading 0s 3s forwards;
}

@keyframes spin {
    0% { 
        transform: rotate(0deg); 
    }
    100% { 
        transform: rotate(360deg); 
    }
}
@keyframes loading {
    0% { 
        transform: scaleX(1); 
    }
    100% { 
        transform: scaleX(1); 
    }
}

@keyframes end-loading {
    100% {
        transform: scale(1);
    }
}
