@import "../main";
@import "../components/checked";
// @import "../components/loading-spinner";


.presentation {
    text-align: center;
    height: 287px;
    background-color: $light-grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: px-to-em(42);
    
    @include media-query(medium) {
        height: 250px;
    }

    @include media-query(large) {
        height: 235px;
    }

    &__head {
        width: 65%;
        margin: 0 auto;
        @include home-headings;
    }
    &__text {
        width: 85%;
        margin: 0 auto;
        padding-top: px-to-em(16);
        font-size: px-to-em(18);
    }
    & .btn {
        margin-top: px-to-em(28);
    }
}

.functioning {
    padding-bottom: 42px;
    &__head {
        @include home-headings;
        width: 90%;
        margin: 50px auto 32px auto;
    }
    &__cards {
        @include media-query(medium) {
            display: flex;
            justify-content: space-between;
            width: 90%;
            margin: auto;
        }
    }
    &__card{
        width: 85%;
        margin-left: 8%;
        height: px-to-em(72);
        background: $light-grey;
        border-radius: px-to-em(20);
        box-shadow: 0px 5px 10px #E5E5E5;
        display: flex;
        align-items: center;
        margin-bottom: px-to-em(26);
        position: relative;
        text-decoration: none;
        color: hsl(0, 0%, 0%);
        transition: background 300ms;

        @include media-query(medium) {
            margin: 0;
            width: 30%;
        }

        &:hover {
            background: lighten($color-primary, 35);
            & > .functioning__icon {
                color: $color-primary;
            }
        }
        &--active{
            background-color: lighten($color-primary, 35);
            & > .functioning__icon {
                color: $color-primary;
            }
        }
    }
    &__number {
        position: absolute;
        left: -12px;
        color: hsl(0, 0%, 100%);
        background: $color-primary;
        width: px-to-em(24);
        height: px-to-em(24);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: px-to-em(14);
    }
    &__icon {
        display: flex;
        width: 20px;
        color: #7E7E7E;
        margin-left: 34px;

        @include media-query(medium) {
            margin-left: px-to-em(25);
        }
    }
    &__text {
        font-weight: bold;
        margin-left: 22px;

        @include media-query(medium) {
            margin-left: px-to-em(18);
        }
    }
}

.restaurants-list {
    background: $light-grey;
    padding-bottom: px-to-em(46);
    &__head {
        @include home-headings;
        width: 90%;
        margin: auto;
        padding: 50px 0 32px 0;
    }
    &__cards {
        @include media-query(medium) {
            display: flex;
            flex-wrap: wrap;
            width: 95%;
            margin: auto;
        }

        @include media-query(large) {
            width: 90%;
            margin: auto;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
    }
    &__card {
        display: block;
        width: 90%;
        height: 251px;
        margin: 0 auto px-to-em(18) auto;
        background: hsl(0, 0%, 100%);
        border-radius: px-to-em(30);
        text-decoration: none;
        color: hsl(0, 0%, 0%);
        box-shadow: 0px 5px 10px #E5E5E5;
        transition: transform 300ms;
        position: relative;

        @include media-query(medium) {
            width: 47%;
        }
        @include media-query(large) {
            width: 31%;
            margin: 0 0 px-to-em(50) 0;
        }
        &::before {
            content: "";
            height: 100%;
            width: 100%;
            opacity: 0;
            position: absolute;
            border-radius: px-to-em(30);
            box-shadow: 0px 10px 10px darken($color: #E5E5E5, $amount: 5);
            transition: opacity 300ms;
        }
        &:hover {
            &::before {
                opacity: 1;
            }
        }
    }
    &__image {
        position: relative;
        height: 175px;
        width: auto;
        background-size: cover;
        border-radius: px-to-em(30) px-to-em(30) 0 0;
        @include home-image-card;
        @include new-restaurant;
        
        @include media-query(large) {
            background-position: 50% 60%;
        }
    }
    &__content {
        width: 92%;
        margin: auto;
        height: 77px;
        display: flex;
        justify-content: space-between;
        font-size: px-to-em(18);
    }
    &__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        line-height: px-to-em(20);
    }
    &__head-card {
        font-weight: bold;
    }
    &__heart {
        margin: px-to-em(23) px-to-em(11) 0 0;
    }
}