@import "../main";
@import "../components/checked";

.header {
    position: relative;
    &__arrow {
        position: absolute;
        top: px-to-em(28);
        left: px-to-em(23);
        color: hsl(0, 0%, 0%);

        &:hover {
            color: darken($color-primary, 10);
        }
    }
}
.menu{
    position: relative;
    background: $light-grey;
    &__image {
        @include menu-image;
        background-size: cover;
        background-position: center;
        height: 258px;
        width: auto;
        @include media-query(large) {
            &::before {
                content: "";
                background: rgba(#000000, 0.4);
                position: absolute;
                width: 100%;
                height: inherit;
            }
        }
        
    }
    &__menu {
        position: relative;
        top: -40px;
        background-color: $light-grey;
        border-radius: 40px 40px 0 0; 
        width: 100%;
        padding-top: 34px;

        @include media-query(large) {
            top: 0;
            display:flex;
            width: 90%;
            margin: auto;
        }
    }
    &__header {
        display: flex;
        justify-content: space-between;
        width: 90%;
        margin: auto;

        @include media-query(large) {
            width: 95%;
            position: absolute;
            top: -60px;
            left: px-to-em(20);
            color: hsl(0, 0%, 100%);
        }
    }
    &__head {
        font-size: 28px;
        @include headings;
    }
    &__heart {
        display: flex;
        align-items: center;
        margin-right: px-to-em(20);
        cursor: pointer;
    }
    &__section {
        width: 90%;
        margin: auto;
        margin-top: px-to-em(29);
        &-head {
            display: flex;
            flex-direction: column-reverse;
            animation: show-up 500ms both;
            transform-origin: bottom;    
            &::before {
                content: "";
                width: px-to-em(40);
                height: px-to-em(3);
                background: $color-tertiary;
                margin-top: px-to-em(5);
                animation: underligned-title 500ms 100ms both;
                transform-origin: left;
            }
        }
        &-cards{
            margin-top: px-to-em(15);            
        }
        &-card {
            height: px-to-em(68);
            background-color: hsl(0, 0%, 100%);
            margin-bottom: px-to-em(14);
            box-shadow: 0px 5px 10px #E5E5E5;
            border-radius: px-to-em(15);
            display: flex;
            position: relative;
            overflow: hidden;
            @for $i from 1 through 4 {
                &:nth-of-type(#{$i}) {
                    $delay: 120ms * $i;
                    animation: show-up 600ms $delay both;
                    transform-origin: bottom; 
                }
            }

    
            @include media-query(large) {
                width: 90%;
                margin-bottom: px-to-em(35);
            }
        }
        &-content {
            width: 90%;
            margin: auto 0 auto 5%;
            display: flex;
            justify-content: space-between;
        }
        &-dish {
            font-weight: bold;
        }
        &-accompaniment {
            font-size: px-to-em(14);
            margin-top: px-to-em(5);
        }
        &-price {
            font-weight: bold;
            display: flex;
            align-items: flex-end;
        }
    }

    &__button {
        display: flex;
        justify-content: center;    
        text-align: center;
        padding-bottom: px-to-em(83);
    }
}

@keyframes show-up {
    0% {
        transform: translateY(30px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes underligned-title {
    0% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(1);
    }
}

