@mixin headings {
    h1, h2, h3, h4, h5, h6 {
        @content
    }
}

@mixin home-headings {
    font-size: px-to-em(22);
    font-weight: bold;
}

$restaurants: ( "la_palette_du_gout", "la_note_enchantee", "a_la_francaise", "Le_delice_des_sens");
$position-image : ("1": 50% 100%, "2": 50% 61%, "3": 50% 100%, "4": 50% 100%);
@mixin home-image-card {

    @for $i from 1 through 4 {
        $path: "../../../public/images/restaurants/";
        $restaurant-name : nth($restaurants, $i);
        &--#{$i} {
            background-image: url($path + $restaurant-name+ ".jpg");
            background-size: cover;
            background-position: map-get($position-image, "#{$i}");
            height: 175px;
            width: auto;
            border-radius: 0.9375rem 0.9375rem 0 0
        }
    } 
}

@mixin menu-image {
    @for $i from 1 through 4 {
        $path: "../../../public/images/restaurants/";
        $restaurant-name : nth($restaurants, $i);
        &--#{$i} {
            background-image: url($path + $restaurant-name+ ".jpg");
            background-size: cover;
            background-position: center;
            height: 258px;
            width: auto;
        }
    } 
}

@mixin new-restaurant {
    &--new{
        &::before{
            content: "Nouveau";
            width: px-to-em(80);
            height: px-to-em(29);
            background: $color-tertiary;
            color: darken($color-tertiary, 40);
            font-weight: bold;
            border-radius: px-to-em(2);
            position: absolute;
            right: px-to-em(12);
            top: px-to-em(13);
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}