.location {
    $color-bg: hsl(0, 0%, 92%);
    
    background-color: $color-bg;
    height: px-to-em(50);
    display: flex;
    justify-content: center;
    align-items: center;
    &__form{
        width: px-to-em(154);
        display: flex;
        justify-content: space-between;
    }
    & select{
        background: none;
        border: none;
        appearance: none;
        font-weight: bold;
        width: px-to-em(150);
        &:focus{
            outline: none;
        }
    }
} 