.header__hearding {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        box-shadow: 0 0.11vh 0.54vh #b3b3b3;
        & img {
            margin: 2.35vh 0 1.28vh 0;
            width: 154px;
        }
    }

